.my-work {
  position: relative;

  padding:
    4rem 8%;

  overflow: hidden;

  background: #0a0f1c;
}

/* ========================= */
/* HEADER */
/* ========================= */

.my-work-header {
  max-width: 700px;

  margin-bottom: 4rem;
}

.my-work-header span {
  display: inline-block;

  color: #5b8cff;

  font-size: 0.8rem;

  font-weight: 700;

  letter-spacing: 0.22rem;

  margin-bottom: 1rem;
}

.about-title {
  font-size: 2rem;
}

.my-work-header p {
  color:
    rgba(255,255,255,0.62);

  font-size: 1rem;

  line-height: 1.8;

  max-width: 620px;
}

.section-title {
  font-size: 1.5rem;
  margin: 30px 0;
  color:white;
  
}

/* ========================= */
/* GRID */
/* ========================= */

.projects-grid {
  display: grid;

  grid-template-columns:
    repeat(3, 1fr);

  gap: 1.8rem;

  align-items: start;
  margin-bottom: 40px;
}
.projects-grid-web {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.8rem;
    align-items: start;
    width: 60%;
    margin: 0 auto;
    justify-content: center;
}

/* ========================= */
/* RESPONSIVE */
/* ========================= */

@media (max-width: 1100px) {

  .projects-grid {
    grid-template-columns:
      repeat(2, 1fr);
  }

}

@media (max-width: 780px) {

  .my-work {
    padding:
      5rem 6%;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }

  .my-work-header h2 {
    font-size: 2.6rem;
  }

}