html {
  scroll-behavior: smooth;
}

.section-divider {
  width: 70%;
  height: 1px;

  margin: 0 auto;

  background:
    linear-gradient(
      to right,
      transparent,
      #7c3aed,
      transparent
    );

  box-shadow:
    0 0 20px rgba(124,58,237,0.5);
}