html {
  scroll-behavior: smooth;
}

.section-divider {
  width: 70%;
  height: 1px;

  margin: 0 auto;

  background:
    linear-gradient(
      to right,
      transparent,
      #7c3aed,
      transparent
    );

  box-shadow:
    0 0 20px rgba(124,58,237,0.5);
}

.section-primary {
  position: relative;

  overflow: hidden;

  background:
    radial-gradient(
      circle at top left,
      rgba(124, 77, 255, 0.22),
      transparent 30%
    ),

    radial-gradient(
      circle at bottom right,
      rgba(0, 194, 255, 0.18),
      transparent 35%
    ),

    linear-gradient(
      135deg,
      #070b14 0%,
      #0b1020 45%,
      #121a2f 100%
    );
}

.section-secondary {
  position: relative;

  overflow: hidden;

  background:
    radial-gradient(
      circle at top right,
      rgba(124, 77, 255, 0.22),
      transparent 30%
    ),

    radial-gradient(
      circle at bottom left,
      rgba(0, 194, 255, 0.18),
      transparent 35%
    ),

    linear-gradient(
      225deg,
      #070b14 0%,
      #0b1020 45%,
      #121a2f 100%
    );
}

.section-primary::before,
.section-secondary::before {
  content: "";

  position: absolute;

  inset: 0;

  background:
    radial-gradient(
      circle at center,
      rgba(255,255,255,0.025),
      transparent 60%
    );

  pointer-events: none;
}